<html>
  <head>
    {% if title %}
    <title>{{title}}</title>
    {% else %}
    <title>  </title>
    {% endif %}
  </head>
  <body>
    <!--<div>Add new user: <a href="/index">Home</a></div>-->
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }} </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>