<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
<h1>Add new user</h1>
<form action="" method="post" name="add_user">
    {{form.hidden_tag()}}
    <p>
        Name: 
        {{form.name(size=80)}}<br>
        
        Alias {{form.alias(size=80)}}<br>
        Email {{form.email(size=80)}}<br>
        Password {{form.password(size=80)}}<br>
        Repit password {{form.repit_password(size=80)}}<br>
        Avatar {{form.avatar(size=80)}}<br>
    </p>
    <p>{{form.accept_terms}} Accept terms</p>
    <p><input type="submit" value="Save user"></p>
</form>
{% endblock %}